<html>
    <head>
        <title>Change Password</title>
    </head>
    <body>
        <h1>Change Password</h1>
       
        <form method="POST" action="/changepassword" id="changepassword">
            <input type="text" placeholder="Email" name="email"  id ="email" required="required">
            <input type="text" placeholder="Password" name ="pass"   id ="pass" required="required">
            <button type="submit" class="regbtn">Submit</button>
        </form>

        <ul>
            <a href ='/login'>Registered</a>
            <a href ='/register'>Not Registered</a>
        </ul>

    </body>
</html>