<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <h1>Login to the Shopping Application</h1>
        <ul>
            <a href ='/register'>Not Registered</a>
        </ul>
        <form method="post" action="/login">
            <input type="text" placeholder="Email"  name="email"  id ="email" required="required">
            <input type="text" placeholder="Password" name ="pass" id ="pass" required="required">
            <button type="submit" class="loginbtn">Login</button>
            
        </form>
        <a href='/changepassword'>Forgot Password</a>
    </body>
</html>