<html>
    <head>
        <title>Register</title>
    </head>
    <body>
        <h1>Register to the Shopping Application</h1>
        <ul>
            <a href ='/login'>Already login</a>
        </ul>
        <form method="POST" action="/register" id="register">
            <input type="text" placeholder="Email" name="email"  id ="email" required="required">
            <input type="text" placeholder="Password" name ="pass"   id ="pass" required="required">
            <button type="submit" class="regbtn">Register</button>
        </form>
    </body>
</html>